
<ion-content>
  <div class="new-background-color">
    <ion-grid id="b">
      <ion-row>
        <ion-col size="1"> 
 
        </ion-col>
        <ion-col size="8.5">
          <ion-icon id="a" name="menu-outline"></ion-icon>
        </ion-col>
        <ion-col size="2">
          <ion-icon id="a" name="mail-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div id="bola"><p id="pala">{{primeiro}}</p> <img id="cam" src="assets/cam.png"></div>
    
  </div>
<p id="ola">Olá {{nome}}</p>
<p id="oque">O que gostaria de fazer hoje?</p>

  <ion-grid>
    <ion-row> 
      <ion-col size="1">

      </ion-col>
      <ion-col size="5">
       <img id="im" (click)="teste()" src="assets/hab.png"><br><br><br><br>
       <img id="im" src="assets/finan.png">
      </ion-col>
      <ion-col id="5">
        <img id="im" src="assets/vei.png"><br><br><br><br>
        <img id="im" src="assets/sinal.png">
      </ion-col>
    
    </ion-row>
    </ion-grid>
</ion-content>
