.new-background-color{
    background-color: #052166;
    height: 60px;
}
#en{
    position: relative;
    top: -45px;
    left: 40px;
   
} 
 
#icon{
    font-size: 30px;
    font-weight: 600px;
}
ion-content {
    --ion-background-color: #f0f0f0;
  }

 #v{
     font-size: 14px;
     position: relative;
     left:5%;
     color: #052166;
 } 

#enn{
    position: relative;
    top: -65px;
    left: 40px;
    font-size: 12px;
}  


ion-slides {
    height: 100%;
  }

  .swiper-slide {
    display: block;
  }

  .swiper-slide h2 {
    margin-top: 2.8rem;
  }

  .swiper-slide img {
    max-height: 50%;
    max-width: 80%;
    margin: 60px 0 40px;
    pointer-events: none;
  }


  #i{
      width: 20px;
      height: 20px;
      background-color: white;
      
  }

  #pala{
      position: relative;
      

  }