.new-background-color{
    background-color: #052166;
    height: 60px;
}
#en{
    position: relative;
    top: -28px;
    left: 40px;
   
} 

#icon{
    font-size: 30px;
    font-weight: 600px;
}

#a{
    background-color: white;
    width: 100%;
    height: 35%;
    position: relative;
    z-index: 0;
    margin-top: 3%;
} 

ion-content {
    --ion-background-color: #f0f0f0;
  }

  #chave{
      font-size: 12px;
  }

#in{
    border: green solid 1px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
}

#bu{
    width: 100%;
    background-color: #1940b3;
    border-radius: 25px;

}

#esqueci{
    font-size: 14px;
    color: #1940b3;
    text-decoration: underline;
    position: relative;
    left: 10%
}