.new-background-color{
    background-color: #052166;
    height: 60px;
}

#en{
    position: relative;
    top: -28px;
    left: 40px;
   
} 

#icon{
    font-size: 30px;
    font-weight: 600px;
}
ion-content {
    --ion-background-color: #f0f0f0;
  }
