
<ion-content>
  <div class="new-background-color">
    <span (click)="voltar()" style="color: white; position: relative; left: 5%; font-weight: 500; top: 15px;"><ion-icon id="icon" name="arrow-back-outline"></ion-icon> <p id="en">Infrações</p>  </span>
  </div>
  <div style="width: 100%; background-color: #d3d3d3; height: 1px; position: relative; margin-top: 5%;"></div>
  <p><img style="width: 30px; height: 24px; position: relative; left: 5%; top: 10px" src="assets/habb.png" ><span style="color: gray; position: relative; left: 10%; top: 5px">Por Condultor</span> <img style="position: absolute; left: 90%; margin-top: 10px;" src="assets/set.png"></p>
  <div style="width: 100%; background-color: #d3d3d3; height: 1px; position: relative; margin-top: 5%;"></div>
  <p><img style="width: 30px; height: 24px; position: relative; left: 5%;top: 10px" src="assets/veii.png" ><span style="color: gray; position: relative; left: 10%; top: 5px">Por Veículo</span> <img style="position: absolute; left: 90%; margin-top: 10px;" src="assets/set.png"></p>
  <div style="width: 100%; background-color: #d3d3d3; height: 1px; position: relative; margin-top: 5%;"></div>
</ion-content>
 