.new-background-color{
    background-color: #052166;
    height: 60px;
}
#en{
    position: relative;
    top: -42px;
    left: 40px;
   
} 
 
#icon{
    font-size: 30px;
    font-weight: 600px;
}
ion-content {
    --ion-background-color: #f0f0f0;
  }

#im{
    width: 100%;
    height: 50px;
    position: relative;
    top: -18px;
    
    
}  

#iz{
    width: 80%;
    height: 30px;
    position: relative;
    top: -2px;
    padding-left: -10px;
    
    
}  
