<ion-content>
  <div class="new-background-color">
    <span (click)="volta()" style="color: white; position: relative; left: 5%; font-weight: 500; top: 15px;"><ion-icon id="icon" name="arrow-back-outline"></ion-icon> <p id="en">Habilitação</p>  </span>
  </div>
   
  <ion-card>
  
    <ion-card-content (click)="vai()" style="height:80px;">
      <ion-grid>
        <ion-row>
          <ion-col size="2">
            <img id="im" src="assets/baixar.png">
          </ion-col>
          <ion-col size="8">
            <p>Toque para baixar sua CNH</p>
          </ion-col>
          <ion-col size="2">
            <img id="iz" src="assets/flecha.png">
          </ion-col>
        </ion-row>
       </ion-grid> 
    </ion-card-content>
  </ion-card>

</ion-content>
 