
<ion-content>
  <div class="new-background-color">
    <span (click)="voltar()" style="color: white; position: relative; left: 5%; font-weight: 500; top: 15px;"><ion-icon id="icon" name="arrow-back-outline"></ion-icon> <p id="en">Educação</p><p id="enn">Campanhas   </p> </span>
  </div>
<img src="assets/a.jpeg" style="position: relative; margin-bottom: 10px;">
<img src="assets/b.jpeg" style="position: relative; margin-bottom: 10px;">
<img src="assets/c.jpeg" style="position: relative; margin-bottom: 10px;">
<img src="assets/f.jpeg">
</ion-content>
  