<ion-content> 
  <div class="new-background-color">
  <span (click)="teste()" style="color: white; position: relative; left: 5%; font-weight: 500; top: 15px;"><ion-icon id="icon" name="arrow-back-outline"></ion-icon> <p id="en">Entrar no gov br</p>  </span>
</div>
  <ion-grid id="aa">
    <div id="a">
    <ion-row> 
      <ion-col size="2">
        <span id="b">gov.br</span>
      </ion-col>
      <ion-col size="5">
       <span id="c"> CORONAVIRUS COVID19</span>
      </ion-col>
      <ion-col size="1">
       <span id="b">!</span> 
      </ion-col>
      <ion-col size="4">
        <span id="d">ACESSO A INFORMA></span>
      </ion-col>
    </ion-row>
</div>
</ion-grid>
<ion-grid id="ee">
<div id="e">
<ion-row>
  <ion-col size="9">
    <img src="assets/b.png" style="width: 100px; top: -15px; height: 70px; position: relative; left: 20px">
  </ion-col>
  <ion-col>
    <img src="assets/d.jpeg" style="width: 30px; height: 30px;">
  </ion-col>
</ion-row>
</div>
</ion-grid>
<ion-grid>
<ion-row>
  <ion-col size="4">
    
  </ion-col>
  <ion-col>
    <img src="assets/gov.png" style="width: 110px; height: 60px;">
  </ion-col>
</ion-row>

</ion-grid>
 
<div> 
  <span style="font-size: 28px; font-weight: bold; position: relative; left: 10%; width: 80%;">Conta do acesso única do</span><br>
  <span style="font-size: 28px; font-weight: bold; position: relative; left: 38%; width: 90%;">Governo</span><br><br>
  <span style="font-size: 15px; font-weight: 500; position: relative; left: 35%; width: 90%;">Informe seu CPF</span>
</div> 
 
<input type="text" [(ngModel)]="data.cpf" mask='000.000.000-00' [dropSpecialCharacters]="false" name="consultar" id="digite" placeholder="Digite seu CPF">
<p *ngIf="valor == true" style="color: red; font-size: 20px; position: relative; left: 20%; top: 5px">Usuario e/ou senha inválidos</p>
<ion-grid>
  <ion-row>
    <ion-col size="6">
      <button color="#000" style="height: 40px;" id='cad'>Cadastrar</button>
    </ion-col>
    <ion-col size="6">
      <img src="assets/btnproximo.png" id="pro"  (click)="cpf()">
      
    </ion-col>
  </ion-row>
  </ion-grid>

  <div id="cin">
    <span id="ace">Acesso em certificado em nuvem</span><br>
    <img id="acei" src="assets/c.png">

  </div>
<div id="t">
  <span id="dificuldade">Dificuldade com sua conta?</span><br>
  <span id="du">Dúvidas frequentes</span>
</div>
</ion-content>
 