#a{
  z-index: 3;
  position: relative;
  color: white;
  font-weight: bold;
  font-size: 18px;
  
  
}
#b{
  z-index: 3;
  position: relative;
  color: white;
  font-weight: bold;
  font-size: 18px;
  
}
#c{
  z-index: 3;
  position: relative;
  color: white;
  
  font-size: 14px;
}
#d{
  z-index: 3;
  position: relative;
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-decoration: underline;
}